<div class="container-fluid">

<h2 class="page-header"><%= @user.username %> (<%= @user.user_type %>)</h2>

  <div class="row">

    <div class="col-md-6">

    <h3 id="aboutuser">about</h3>
      <% if @user.image %>
      <img class="media-object" src="<%= @user.image %>" alt="<%= @user.username %>'s image">
      <% else %>
      <img class="media-object" src="/images/default.png" alt="<%= @user.username %>'s image">
      <% end %>
      <br>

      <dl class="dl-horizontal">
        <dt>full name:</dt>
        <dd><%= @user.first_name %> <%= @user.last_name %></dd><br>
        <dt>email address:</dt>
        <dd><%= @user.email %></dd>
      </dl>

      <p id="contactbtn" class="btn btn-default"><strong><a href="mailto:<%=@user.email%>?Subject=i wanna paint your wall!" id="email_form">&lt; Contact Me! &gt;</a></strong></p><br><br>

      <% if current_user.user_type == "wall_owner" %>
      <strong><p id="add_a_wall"><a href="/walls/new">Add a new wall</a></p></strong>
      <% end %>

    </div>

    <div class="col-md-6">

      <h3 id="userbio">biography</h3>  
      <p><%= @user.bio %></p>
    </div>

  </div>


<br><br>

<% if current_user.user_type == "wall_owner" %>

  <h4>Owned Walls</h4>
  <div class="row">
    <ul>
      <% @user.owned_walls.each do |wall| %>
      <li class="col-md-4 col-sm-6">
        <ul class="wall_card">
          <li><a href="/walls/<%=wall.id%>"><img src="<%= wall.image %>" width=300px></a></li>
        </ul>
      </li>
      <% end %>
    </ul>
  </div>

<% else %>

<h4>Painted Walls</h4>
<div class="row">
  <ul class="wall_card">
    <% @user.painted_walls.each do |wall| %>
    <li class="col-md-4 col-sm-6">
      <ul class="card">
        <li><a href="/walls/<%=wall.id%>"><img src="<%= wall.image %>" width=300px></a></li>
      </ul>
    </li>
    <% end %>
  </ul>
</div>

<% end %>




