<div class="container-fluid">

<h2 class="page-header"><%= @user.username %> (<%= @user.user_type %>)</h2>

  <div class="row">

    <div class="col-md-6">

    <h3 id="aboutuser">about</h3>
      <% if @user.image %>
      <img class="media-object" src="<%= @user.image %>" alt="<%= @user.username %>'s image">
      <% else %>
      <img class="media-object" src="/images/default.png" alt="<%= @user.username %>'s image">
      <% end %>
      <br>

      <div id="user-info">
      <p>full name: <%= @user.first_name %> <%= @user.last_name %></p>

      <p>email: <%= @user.email %></p>

      <p><a href="mailto:<%=@user.email%>?Subject=i wanna paint your wall!" id="email_form">&lt; Contact Me! &gt;</a></p>

      </div>
    </div>

    <div class="col-md-6">

      <h3>biography</h3>  
      <p><%= @user.bio %></p>
    </div>

  </div>


<br><br>
  <div class="row">
    <div class="col-md-12">

      <h3 id="view-walls">view my walls</h3>   

      <% if current_user.user_type == "wall_owner" %>
      <p><a href="/walls/new">Add a new wall</a></p>
      <% end %>

      <% @user.owned_walls.each do |wall| %>
      <a href="/walls/<%=wall.id%>"><img src="<%= wall.image %>" width=300px></a>
      <% end %>

      <% @user.painted_walls.each do |wall| %>
      <a href="/walls/<%=wall.id%>"><img src="<%= wall.image %>" width=300px></a>
      <% end %>


    </div>

  </div>
