<h2><%= @user.username %></h2>
<% if @user.image %>
  <img class="media-object" src="<%= @user.image %>" alt="<%= @user.username %>'s image">
<% else %>
  <img class="media-object" src="/images/default.png" alt="<%= @user.username %>'s image">
<% end %>
<p>full name: <%= @user.first_name %> <%= @user.last_name %></p>

<p>email: <%= @user.email %></p>
<p>user_type: <%= @user.user_type %></p>
<p>bio: <%= @user.bio %></p>

<p>my walls: <%= @user.walls %></p>

<p><a href="mailto:<%=@user.email%>?Subject=i wanna paint your wall!" id="email_form">&lt; Contact Me! &gt;</a></p>


<p><a href="/walls/new">Add a new wall</a></p>

<% @user.owned_walls.each do |wall| %>
  <%= wall.title %>
  <a href="/walls/<%=wall.id%>"><img src="<%= wall.image %>" width=300px></a>
<% end %>




