<div class="container-fluid">

<h1>spare walls</h1>

<form id="search-form" class="form-inline" action="/walls">
  <input type="text" name="search" placeholder="Search" value="<%= params[:search] %>" class="form-control">
  <button class="btn btn-primary" id="search_button">Go</button>
  <a href="/walls" class="btn btn-primary" role="button" id="back_search_button"> Back to all walls </a>
</form><br><br>

<div class="row">
  <% @walls.each do |wall| %>

    <% if !(wall.owner_id.present? && wall.artist_id.present?) %>

    <div class="col-md-4">
        <ul class="media-list">
          <li class="media">
            <div class="media-left">
              <a href="/walls/<%= wall.id %>">
              </a>
            </div>
            <div class="media-body">
              <a href="/walls/<%= wall.id %>">
                <img src="<%= wall.image %>" width="440px">
              </a>
              <%= wall.city %>
            </div>
          </li>
          </ul>
        </div>
      <% end %>
  <% end %>
<!-- </ul> -->
</div>

</div>


