<div class="container-fluid">

<div id="toggle_menu">
  <h1 id="wallsindextitle" class="page-header">browse spare walls</h1>

  <div>
  <form id="search-form" class="form-inline" action="/walls">
    <input type="text" name="search" placeholder="Search" value="<%= params[:search] %>" class="form-control">
    <button class="btn btn-primary" id="search_button">go</button>
    <a href="/walls" class="btn btn-primary" role="button" id="back_search_button"> back to all walls </a>
  </form><br><br>

  <div id="view_btns">
    <a href='#' class="btn btn-primary" id="grid_btn">&lt; grid view &gt;</a>
    <a href='#' class="btn btn-primary" id="map_btn">&lt; map view &gt;</a>
  </div>
  </div>

</div>

  <div id="gridmaps">
    <div class="row">
      <% @walls.each do |wall| %>

      <% if !(wall.owner_id.present? && wall.artist_id.present?) %>

      <div class="col-xs-12 col-md-4">
        <ul class="media-list">
          <li>
            <div>
              <a href="/walls/<%= wall.id %>">
              </a>
            </div>
            <div>
              <a href="/walls/<%= wall.id %>">
                <img class="wallsidx" src="<%= wall.image %>" width="350px" height="350px">
              </a>
              <p id="wallscity"><%= wall.city %><p>
              </div>
            </li>
          </ul>
        </div>
        <% end %>
        <% end %>

      </div>
    </div>

    <div id="mapwalls">

      <% if is_artist? %>
      <h3 id="maptitle">map of sparewalls</h3>
      <% else %>
      <h3>map of completed walls</h3>
      <% end %>


      <input type="hidden" name="walls-data" value= '<%= @walls.to_json %>'>

      <div id="property-map"></div>

    </div>


  </div>




