<h2><%= @wall.title %></h2>
<% if @wall.image %>
  <img class="media-object" src="<%= @wall.image %>" alt="<%= @wall.title %>'s image">
<% else %>
  <img class="media-object" src="/images/default.png" alt="<%= @wall.title %>'s image">
<% end %>

<br><br>
<p>location: <%= @wall.location %></p>


<p><strong> wall belongs to owner of ID: <%=@wall.owner_id %> <a href="/users/<%= @wall.owner_id %>">find out more about the owner</a></strong></p>


<p>artist is: <%= @wall.artist_id %></p>

<p>my artist and owner! (link profile pics to both here): <%= @wall.owner_id %></p>
<p> add a paint me button here which sets the artist_id field of wall table to the current user. will only work once logic is in place which shows artist/owners diff pages - so efffectivly only artists can click </p>

<p>show wall owner and have a link to their email / email them</p>

<p>edit the wall info here</p>

<p><strong><a href="/walls/<%=@wall.id %>/edit">edit/update this wall</a></strong></p>

