<div class="container-fluid">

<h2 class="page-header"><%= @wall.title %>  <% if !!(@wall.owner_id.present? && @wall.artist_id.present?) %>
    (painted)
  <% end %>
  </h2>


  <div class="row">
    <div class="col-md-8">


    <% if @wall.image %>
    <img class="media-object" src="<%= @wall.image %>" alt="<%= @wall.title %>'s image" width="650px">
    <% else %>
    <img class="media-object" src="/images/default.png" alt="<%= @wall.title %>'s image">
    <% end %>

    </div>


    <div class="col-md-4">

    <h3 id="aboutuser">about wall</h3>

    <dl class="dl-horizontal" id="testid">
      <dt>location:</dt>
      <dd> <%= @wall.city   %> </dd><br>
      <dt>wall owner:</dt>
      <dd><a href="/users/<%= @wall.owner_id %>"><img src="<%= @wall.owner.image %>" height="100px" width="100px" class="wallprofpic"></a> </dd>
      <br><br><br>


      

      <% if !!(@wall.owner_id.present? && @wall.artist_id.present?) %>
        <dt>painted by:  </dt>
        </dd><a href="/users/<%= @wall.artist_id %>"><img src="<%=   @wall.artist.image %>" height="100px" width="100px" class="wallprofpic>"></a></dd>
      <% end %>

    </dl>

      <% if current_user.user_type == "wall_owner" %>
      <% else %>
      <% if !(@wall.owner_id.present? && @wall.artist_id.present?) %>
        
      <p id="request"><strong><a class="btn btn-primary" href="mailto:<%=@wall.owner.email%>?Subject=i'd like to paint your wall">&lt; request to paint this wall &gt;</a></strong></p>
      <% end %>
      <% end %>


    </div>

  </div>

  <br><br>
  






  <% if current_user.user_type == "wall_owner" %>
  <p><strong><a href="/walls/<%=@wall.id %>/edit">edit/update this wall</a></strong></p>

  <form action="/walls/<%= @wall.id %>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="delete">
  </form>

  <% else %>


  <% end %>


  

</div>


